/* Gameboard container */

*{
  font-family: 'Poppins', sans-serif;
}

#titleTop {
  font-family: 'Bungee', cursive;
  font-size: 50px;
}

#gameboard {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    margin-top: 30px;
    text-align: center;
  }

#gameboard.hover {
  cursor: url("/images/cursor.png") 50 50, auto;
}

#gameboard.hitting {
  cursor: url("/images/cursorhit.png") 50 50, auto;
}

body.background {
  background-color: #f5d671;
}  

  /* Mole buttons */
    .mole {
      display: block; 
      width: 100%; 
      height: auto;
      border-radius: 5px;
      padding: 10px 20px;
      transition: background-color 0.3s;
      margin: 30px 15px;
    }
  
  .mole:hover {
    background-color: #f5d671;
  }
  
  /* Score display */
  #moleDisplay {
    font-size: 24px;
    font-weight: bold;
  }
  
  #display {
    font-size: 36px;
    font-weight: bold;
  }

  #hiScoreWordDisplay {
    font-size: 24px;
    font-weight: bold;
  }
  
  #hiScoreDisplay {
    font-size: 36px;
    font-weight: bold;
  }
  
  /* Timer box */
  #timerBox {
    font-size: 18px;
    margin-top: 20px;
  }
  
  /* Instructions */
  #instructions {
    text-align: center;
    background-color: #f5f5f5;
    margin-top: 20px;
    font-size: 20px;
    width: 100%;
    animation: blinking 7s infinite;
  }
  @keyframes blinking{
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }